<!-- extend from base layout -->
{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/admin.css" crossorigin="anonymous">
{% endblock %}

{% block content %}
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Navbar</a>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Judge<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item"> <a class="nav-link" href="#">Player</a> </li>
        </ul>
        </div>
        <span class="navbar-text">
            Welcome, {{ g.user.name }}
            {% if g.user.is_authenticated %}
                | <a href="{{ url_for('logout') }}">Logout</a>
            {% endif %}
        </span>
    </nav>
</div>
<div class="container">
    <div class="content">
        <h2 class="page-header">Judge List</h2>
        <div>
            <button data-toggle="modal" data-target="#add" type="button" class="btn btn-success">Add </button>
            <button data-toggle="modal" data-target="#remove" type="button" class="btn btn-danger">Remove</button>
            <a data-toggle="modal" href="#addJudge" class="btn btn-primary btn-large">Add Judge</a>
            <a data-toggle="modal" href="#addPlayer" class="btn btn-primary btn-large">Add Player</a>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <input type="checkbox" id="checkAll">
                        </th>
                        <th>ID</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for judge in judges %}
                    <tr>
                        <td>
                            <input type="checkbox" value="{{judge.id}}">
                        </td>
                        <td>{{judge.id}}</td>
                        <td>{{judge.name}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <div>
</div>
<div class="container">
    <div id="add" class="modal hide fade in" style="display:none;">
        <div class="modal-header">
            <a class="close" data-dismiss="modal">x</a>
            <h3>Add Judge</h3>
        </div>
        <div class="modal-body">
            <form method="post" action="addJudge">
                <div class="form-group">
                    <label for="name">Judge</label>
                    <input class="form-control" id="name" name="name">
                </div>
                <div class="form-group">
                    <label for="passwd">Password</label>
                    <input type="password" class="form-control" id="passwd" name="passwd">
                </div>
                 <button type="submit" class="btn btn-primary">Add</button>
                 <button class="btn" data-dismiss="modal">close</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
