<!-- extend from base layout -->
{% extends "base.html" %}

{% block head %}
<script type="text/javascript">
    $(document).ready(function () {
        var judgeAdapter = undefined;
        var getJudgeAdapter = function () {
            if (!judgeAdapter) {
                var source =
                {
                    url:"/admin/judges",
                    datatype: "json",
                    datafields:[
                        { name: 'id', type: 'int' },
                        { name: 'name', type: 'string' },
                        { name: 'createDate', type: 'string' },
                        { name: 'comment', type: 'string' },
                    ],
                    id:'id',
                };

                judgeAdapter = new $.jqx.dataAdapter(source);
            }
            return judgeAdapter;
        }

        var playerAdapter = undefined;
        var getPlayerAdapter = function () {
            if (!playerAdapter) {
                var source =
                {
                    url:"/admin/players",
                    datatype: "json",
                    datafields:[
                        { name: 'id', type: 'int' },
                        { name: 'name', type: 'string' },
                        { name: 'phone', type: 'string' },
                        { name: 'score', type: 'int' },
                        { name: 'createDate', type: 'string' },
                        { name: 'comment', type: 'string' },
                    ],
                    id:'id',
                };

                playerAdapter = new $.jqx.dataAdapter(source);
            }
            return playerAdapter;
        }

        $("#addJudgeWindow").jqxWindow({ resizable: false,  autoOpen: false, width: 210, height: 230});
        var initJudgeGrid = function () {
            // initialize jqxGrid
            $("#judgeGrid").jqxGrid(
            {
                width: '100%',
                height: '100%',
                source: getJudgeAdapter(),
                showtoolbar: true,
                rendertoolbar: function (statusbar) {
                    // appends buttons to the status bar.
                    var container = $("<div style='overflow: hidden; position: relative; margin: 5px;'></div>");
                    var addButton = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 2px;' src='/static/img/add.png'/><span style='margin-left: 4px; position: relative; '>添加</span></div>");
                    var deleteButton = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 2px;' src='/static/img/close.png'/><span style='margin-left: 4px; position: relative; '>删除</span></div>");
                    container.append(addButton);
                    container.append(deleteButton);
                    statusbar.append(container);
                    addButton.jqxButton({  width: 60, height: 20 });
                    deleteButton.jqxButton({  width: 65, height: 20 });
                    // add new row.
                    addButton.click(function (event) {
                        $("#addJudgeWindow").jqxWindow({isModal:true});
                        $("#addJudgeWindow").jqxWindow('open');
                    });
                    // delete selected row.
                    deleteButton.click(function (event) {
                        var grid = $("#judgeGrid");
                        var selectedrowindex = grid.jqxGrid('getselectedrowindex');
                        if (selectedrowindex != -1) {
                            var name = grid.jqxGrid('getcellvalue', selectedrowindex, "name")
                            var id = grid.jqxGrid('getrowid', selectedrowindex);
                            if (confirm("你确定要删除 " + name + " 吗?")) {
                                $.ajax({
                                    "url":"/admin/delJudge",
                                    "method":"POST",
                                    "data":{
                                        'id':id,
                                    },
                                    "dataType":"json",
                                    "success":function (data) {
                                        if (data.code == 0) {
                                            judgeAdapter.dataBind();
                                        } else {
                                            alert(data.message)
                                        }
                                    }
                                });
                            }
                        }
                    });
                },
                columns: [
                  { text: 'ID', datafield: 'id', columntype: 'textbox', width: 120 },
                  { text: '用户名', datafield: 'name', columntype: 'textbox', width: 120 },
                  { text: '创建时间', datafield: 'createDate', columntype: 'textbox', width: 170 },
                  { text: '备注', datafield: 'comment', columntype: 'textbox' },
                ]
            });
            $("#addJudgeWindow").on('close', function () {
                $("#judgeName").val('');
                $("#judgePasswd").val('');
                $("#judgeComment").val('');
            });
            $("#addJudgeButton").click(function (){
                $.ajax({
                    "url":"/admin/addJudge",
                    "method":"POST",
                    "data":{
                        'name':$("#judgeName").val(),
                        'passwd':$("#judgePasswd").val(),
                        'comment':$("#judgeComment").val(),
                    },
                    "dataType":"json",
                    "success":function (data) {
                        if (data.code == 0) {
                            judgeAdapter.dataBind();
                        } else {
                            alert(data.message)
                        }
                    }
                });
                $("#addJudgeWindow").jqxWindow('close');
            });
        }

        $("#addPlayerWindow").jqxWindow({ resizable: false,  autoOpen: false, width: 210, height: 230});
        var initPlayerGrid = function () {
            // initialize jqxGrid
            $("#playerGrid").jqxGrid(
            {
                width: '100%',
                height: '100%',
                source: getPlayerAdapter(),
                showtoolbar: true,
                rendertoolbar: function (statusbar) {
                    // appends buttons to the status bar.
                    var container = $("<div style='overflow: hidden; position: relative; margin: 5px;'></div>");
                    var addButton = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 2px;' src='/static/img/add.png'/><span style='margin-left: 4px; position: relative;'>添加</span></div>");
                    var deleteButton = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 2px;' src='/static/img/close.png'/><span style='margin-left: 4px; position: relative;'>删除</span></div>");
                    var editButton = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 2px;' src='/static/img/refresh.png'/><span style='margin-left: 4px; position: relative;'>编辑</span></div>");
                    var clearScoreButton = $("<div style='float: left; margin-left: 5px;'><img style='position: relative; margin-top: 2px;' src='/static/img/refresh.png'/><span style='margin-left: 4px; position: relative;'>积分清零</span></div>");
                    container.append(addButton);
                    container.append(deleteButton);
                    container.append(editButton);
                    container.append(clearScoreButton);
                    statusbar.append(container);
                    addButton.jqxButton({  width: 60, height: 20 });
                    deleteButton.jqxButton({  width: 65, height: 20 });
                    editButton.jqxButton({  width: 65, height: 20 });
                    clearScoreButton.jqxButton({  width: 80, height: 20 });
                    // add new row.
                    addButton.click(function (event) {
                        $("#addPlayerButton").show();
                        $("#editPlayerButton").hide();
                        $("#addPlayerWindow").jqxWindow({isModal:true});
                        $("#addPlayerWindow").jqxWindow('open');
                    });
                    // delete selected row.
                    deleteButton.click(function (event) {
                        var grid = $("#playerGrid");
                        var selectedrowindex = grid.jqxGrid('getselectedrowindex');
                        if (selectedrowindex != -1) {
                            var name = grid.jqxGrid('getcellvalue', selectedrowindex, "name")
                            var id = grid.jqxGrid('getrowid', selectedrowindex);
                            if (confirm("你确定要删除 " + name + " 吗?")) {
                                $.ajax({
                                    "url":"/admin/delPlayer",
                                    "method":"POST",
                                    "data":{
                                        'id':id,
                                    },
                                    "dataType":"json",
                                    "success":function (data) {
                                        if (data.code == 0) {
                                            playerAdapter.dataBind();
                                        } else {
                                            alert(data.message)
                                        }
                                    }
                                });
                            }
                        }
                    });
                    editButton.click(function (event) {
                        var grid = $("#playerGrid");
                        var selectedrowindex = grid.jqxGrid('getselectedrowindex');
                        if (selectedrowindex != -1) {
                            var name = grid.jqxGrid('getcellvalue', selectedrowindex, "name")
                            var phone = grid.jqxGrid('getcellvalue', selectedrowindex, "phone")
                            var comment = grid.jqxGrid('getcellvalue', selectedrowindex, "comment")
                            var id = grid.jqxGrid('getrowid', selectedrowindex);
                            $("#playerId").val(id);
                            $("#playerName").val(name);
                            $("#playerPhone").val(phone);
                            $("#playerComment").val(comment);
                            $("#addPlayerButton").hide();
                            $("#editPlayerButton").show();
                            $("#addPlayerWindow").jqxWindow({isModal:true});
                            $("#addPlayerWindow").jqxWindow('open');
                        }
                    });
                    clearScoreButton.click(function () {
                        if (confirm("你确定要清除所有玩家的积分么？")) {
                            $.ajax({
                                "url":"/admin/clearScoreOfAllPlayers",
                                "method":"POST",
                                "dataType":"json",
                                "success":function (data) {
                                    if (data.code == 0) {
                                        playerAdapter.dataBind();
                                    } else {
                                        alert(data.message)
                                    }
                                }
                            });
                        }
                    });
                },
                columns: [
                  { text: 'ID', datafield: 'id', columntype: 'textbox', width: 120 },
                  { text: '用户名', datafield: 'name', columntype: 'textbox', width: 120 },
                  { text: '电话号码', datafield: 'phone', columntype: 'textbox', width: 170 },
                  { text: '创建时间', datafield: 'createDate', columntype: 'textbox', width: 170 },
                  { text: '积分', datafield: 'score', columntype: 'textbox', width: 170 },
                  { text: '备注', datafield: 'comment', columntype: 'textbox' },
                ]
            });
            $("#addPlayerWindow").on('close', function () {
                $("#playerId").val('');
                $("#playerName").val('');
                $("#playerPhone").val('');
                $("#playerComment").val('');
            });
            $("#addPlayerButton").click(function (){
                $.ajax({
                    "url":"/admin/addPlayer",
                    "method":"POST",
                    "data":{
                        'name':$("#playerName").val(),
                        'phone':$("#playerPhone").val(),
                        'comment':$("#playerComment").val(),
                    },
                    "dataType":"json",
                    "success":function (data) {
                        if (data.code == 0) {
                            playerAdapter.dataBind();
                        } else {
                            alert(data.message)
                        }
                    }
                });
                $("#addPlayerWindow").jqxWindow('close');
            });
            $("#editPlayerButton").click(function (){
                $.ajax({
                    "url":"/admin/editPlayer",
                    "method":"POST",
                    "data":{
                        'id':$("#playerId").val(),
                        'name':$("#playerName").val(),
                        'phone':$("#playerPhone").val(),
                        'comment':$("#playerComment").val(),
                    },
                    "dataType":"json",
                    "success":function (data) {
                        if (data.code == 0) {
                            playerAdapter.dataBind();
                        } else {
                            alert(data.message)
                        }
                    }
                });
                $("#addPlayerWindow").jqxWindow('close');
            });
        }

        // init widgets.
        var initWidgets = function (tab) {
            switch (tab) {
                case 0:
                    initJudgeGrid();
                    break;
                case 1:
                    initPlayerGrid()
                    break;
            }
        }

        $('#tabs').jqxTabs({ width: "100%", height: 600,  initTabContent: initWidgets });
    });
</script>
{% endblock %}

{% block content %}
<div class="container">
    <div id='tabs'>
        <ul>
            <li style="margin-left: 30px;">裁判</li>
            <li>玩家</li>
        </ul>
        <div style="overflow: hidden;">
            <div id="judgeGrid" style="border:none;"> </div>
        </div>
        <div style="overflow: hidden;">
            <div id="playerGrid" style="border:none;"> </div>
        </div>
    </div>
</div>
<div class="container">
    <div id='jqxWidget'>
        <div id="addJudgeWindow">
            <div>
                添加裁判
            </div>
            <div style="overflow: hidden;">
                <div>
                    用户名
                </div>
                <div style='margin-top:5px;'>
                    <input id='judgeName' type="text" name="name" class="jqx-input" style="width: 200px; height: 23px;" />
                </div>
                <div style="margin-top: 7px; clear: both;">
                    密码
                </div>
                <div style='margin-top:5px;'>
                    <input id='judgePasswd' type="password" name="passwd" class="jqx-input" style="width: 200px; height: 23px;" />
                </div>
                <div style="margin-top: 7px; clear: both;">
                    备注
                </div>
                <div style='margin-top:5px;'>
                    <input id='judgeComment' type="text" name="comment" class="jqx-input" style="width: 200px; height: 23px;" />
                </div>
                <div>
                    <button type="button" style='margin-top: 15px; margin-left: 50px; float: right;' value="submit" id="addJudgeButton">提交</button>
                </div>
            </div>
        </div>
        <div id="addPlayerWindow">
            <div>
                添加/编辑 玩家
            </div>
            <div style="overflow: hidden;">
                <div>
                    用户名
                </div>
                <div style='margin-top:5px;'>
                    <input id='playerId' type="text" name="id" class="jqx-input" style="width: 200px; height: 23px;display:none;" />
                    <input id='playerName' type="text" name="name" class="jqx-input" style="width: 200px; height: 23px;" />
                </div>
                <div style="margin-top: 7px; clear: both;">
                   手机号码
                </div>
                <div style='margin-top:5px;'>
                    <input id='playerPhone' type="number" name="phone" class="jqx-input" style="width: 200px; height: 23px;" />
                </div>
                <div style="margin-top: 7px; clear: both;">
                    备注
                </div>
                <div style='margin-top:5px;'>
                    <input id='playerComment' type="text" name="comment" class="jqx-input" style="width: 200px; height: 23px;" />
                </div>
                <div>
                    <button type="button" style='margin-top: 15px; margin-left: 50px; float: right; display:none;' value="submit" id="addPlayerButton">提交</button>
                    <button type="button" style='margin-top: 15px; margin-left: 50px; float: right; display:none;' value="submit" id="editPlayerButton">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
